﻿@model QoutGroceryAdminWithCore2.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(function () {
        $('#txtDate').datepicker({
            format: "mm-dd-yyyy"
        });
    });

</script>
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Register New User</h3>
        </div>
        @using (Html.BeginForm("Register", "UserManagement", FormMethod.Post, new { @class = "form-horizontal submit", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @if (TempData["Message"] != null && !string.IsNullOrEmpty(TempData["Message"].ToString()))
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["Message"]</strong>
                </div>
            }
            <div class="box-body">
                <div>
                    <div class="col-md-6">
                        <div>
                            @Html.HiddenFor(x => x.UserId)
                            @Html.HiddenFor(x => x.AddressID)
                        @Html.LabelFor(x => x.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", maxlength = 250, placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div><!-- /.form-group -->
                    <div>
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", maxlength = 250, placeholder = "User Name", id = "userName" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div><!-- /.form-group -->
                    <div>
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = 250, placeholder = "Email", id = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.GenderId)
                        @Html.DropDownListFor(m => m.GenderId, Model.Genders, "Select Gender", new { @class = "form-control select2", style = "width: 100%;" })
                        @Html.ValidationMessageFor(m => m.GenderId, "", new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(x => x.AreaId)
                        @Html.DropDownListFor(m => m.AreaId, Model.Areas, "Select Area", new { @class = "form-control select2", style = "width: 100%;" })
                        @Html.ValidationMessageFor(m => m.AreaId, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Avenue)
                        @Html.TextBoxFor(m => m.Avenue, new { @class = "form-control", maxlength = 250, placeholder = "Avenue" })
                        @Html.ValidationMessageFor(m => m.Avenue, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.HouseTypeId)
                        @Html.DropDownListFor(m => m.HouseTypeId, Model.HouseTypes,  new { @class = "form-control select2", style = "width:100%;" })
                        @Html.ValidationMessageFor(m => m.HouseType, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Notes)
                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", maxlength = 250, placeholder = "Notes", rows = "3" })
                  
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        @Html.LabelFor(x => x.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", maxlength = 250, placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Password)
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", maxlength = 250, placeholder = "Password", id = "password", data_val = Model.UserId > 0 ? "false" : "true" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.NationalityId)
                        @Html.DropDownListFor(m => m.NationalityId, Model.Nationalitys, "Select Nationality", new { @class = "form-control select2", style = "width: 100%;" })
                        @Html.ValidationMessageFor(m => m.NationalityId, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.BirthDate)
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control from_date", @id = "txtDate", @placeholder = "Birth Date", @onpaste = "return false;", @oncut = "return false;" })
                        </div>
                        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Block)
                        @Html.TextBoxFor(m => m.Block, new { @class = "form-control", placeholder = "Block" })
                        @Html.ValidationMessageFor(m => m.Block, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Street)
                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Street" })
                        @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.HouseNumber)
                        @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", maxlength = 250, placeholder = "House Number" })
                        @Html.ValidationMessageFor(m => m.HouseNumber, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(x => x.MobileNumber)
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", placeholder = "Mobile Number", id = "mobileNumber" })
                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" id="btnRegister" class="btn btn-info">Register</button>

        </div>
        }
    </div>
</section><!--End  sign up-->


<!--End  sign up-->
