﻿@model List<ApplicationCore.Entities.UserEntity>
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("UserDetails", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="box box-default">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">User Details</h3>
                        </div><!-- /.box-header -->
                       @if (TempData["Message"] != null && !string.IsNullOrEmpty(TempData["Message"].ToString()))
                       {
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>@TempData["Message"]</strong>
                        </div>
                       }
                        <div class="box-body">

                            <table id="grd_Client" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        @*<th>Password</th>*@
                                        <th>Phone number</th>
                                        <th>Email</th>
                                      
                                        <th class="nosort">
                                            Edit
                                        </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.UserName
                                            </td>
                                            @*<td>
                                                    @item.Password
                                                </td>*@
                                            <td>
                                                @item.MobileNumber
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                         
                                            <td align="left">
                                                @Html.ActionLink("Edit","Register", "UserManagement", new { userId = item.UserId })
                                                @*<a href="~/UserManagement/Edit/"><input type="button" value="Edit" /></a>*@
                                            </td>
                                           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>