﻿@model QoutGroceryAdminWithCore2.Models.LoginModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
    </environment>



</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control p_input", placeholder = "Username" })

                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control p_input", placeholder = "Password" })
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">

                                    @{

                                        if (TempData["notFound"] != null)
                                        {
                                            <label>
                                                UserName or Password not matched!
                                            </label>

                                        }
                                    }


                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input">Remember me
                                        </label>
                                    </div>
                                    <a href="#" class="forgot-pass">Forgot password</a>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">LOG IN</button>
                                </div>
                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/perfect-scrollbar.jquery.js"></script>
        <script src="~/js/misc.js"></script>
    </environment>



</body>

</html>
