﻿
@using Microsoft.Extensions.Configuration;
@inject IConfiguration _config;
    @{ 

        var sitepath = _config.GetSection("AppSetting")["SitePath"];
    }
     
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QoutGroceryAdminWithCore2</title>

    <environment include="Development">

        @*<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="../../css/style.css" />
            <link rel="shortcut icon" href="../../images/favicon.png" />*@
        <link href="~/css/jquery.lighter.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link href="~/css/skin-blue.min.css" rel="stylesheet" />
        <link href="~/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/css/dataTables.responsive.css" rel="stylesheet" />
        <!-- iCheck -->
        <link href="~/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/all.css" rel="stylesheet" />
        <link href="~/css/datepicker3.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/jquery.lighter.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link href="~/css/skin-blue.min.css" rel="stylesheet" />
        <link href="~/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/css/dataTables.responsive.css" rel="stylesheet" />
        <!-- iCheck -->
        <link href="~/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/all.css" rel="stylesheet" />

        <link href="~/css/datepicker3.css" rel="stylesheet" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="main_loader" style="display:none">
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </div>
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@(String.Concat("","/Account/AdminUser"))" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini text-yellow"><b>Q</b></span>
                <!-- logo for regular state and mobile devices -->
                <div><span class="logo-lg"><img src="~/images/logo1.png"  alt="" /></span>

                  
                    
                </div>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <h3 class="nav navbar-nav"></h3>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <i class="fa fa-user fa-fw bt-icon" ></i>
                                <span class="hidden-xs" id="Uname">
                                    Welcome Admin
                                </span>
                              
                            </a>
                            <ul class="dropdown-menu">
                                @*<li>
                                    <a href="@(String.Concat("","Account/ChangePassword"))" class="btn btn-default btn-flat">
                                        <i class="fa fa-pencil-square-o"></i>Change Password
                                    </a>
                                </li>*@
                                <li style="margin-right:0px !important;">
                                    <a href="@(String.Concat(sitepath,"../Account/LogOut"))" class="btn btn-default btn-flat">
                                        <i class="fa fa-sign-out fa-fw"></i>LogOut
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <input type="hidden" id="hdnObject" />
                <ul class="sidebar-menu">


                    <li class="treeview" id="userMgt">
                        <a href="#"><i class="fa fa-link"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu" style="display: block !important;">
                            <li id="Register">
                                <a class="nav-link" href="@(String.Concat(sitepath, "../UserManagement/Register"))">
                                    Register New User
                                </a>
                            </li>

                            <li id="UserDetails"><a class="User Details" href="@(String.Concat(sitepath, "../UserManagement/UserDetails"))">User Details</a></li>
                            @*<li id="Advertisment"><a class="Advertisement" href="@(String.Concat("", "UserManagement/Advertisment"))">Advertisement</a></li>*@
                        </ul>
                    </li>




                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <!-- To the right -->
            @*<div class="pull-right hidden-xs">
                    Anything you want
                </div>*@
            <!-- Default to the left -->
            <strong>Copyright © 2018 <a href="#">Brain Technosys Pvt Ltd.</a></strong> All rights reserved.
        </footer>

        <!-- REQUIRED JS SCRIPTS -->
        <!-- jQuery 2.1.4 -->
       
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/perfect-scrollbar.jquery.js"></script>
        <script src="~/js/misc.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/app.min.js"></script>
 
        <script src="~/js/jquery.inputmask.js"></script>

        <!-- AdminLTE App -->
      
        <!--Required for validation-->
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables.bootstrap.min.js"></script>
        <script src="~/js/dataTables.responsive.min.js"></script>
      
        <script src="~/js/responsive.bootstrap.min.js"></script>
        <script src="~/js/fastclick.min.js"></script>
        <script src="~/js/icheck.min.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <!--Required for DataTable-->
      
        <!-- FastClick -->
     

        <script>


            $(document).ready(function () {
                var str = '@System.Threading.Thread.CurrentThread.CurrentCulture.Name';
                if (str == 'en-GB') {
                    $('html').attr("dir", "ltr")
                }
                if (str == 'ar-SA') {
                    $('html').attr("dir", "rtl")
                }

                var getUrl = window.location;
                var getAction = getUrl.pathname.split('/')[2];
                var getValue = getUrl.pathname.split('/')[3];
                $(document).find('#' + getAction).addClass('active');
                $(document).find('#' + getAction + getValue).addClass('active');
                if ("AssignReward" == getAction) {
                    $('#Add').addClass('active');
                }
                if ("Advertisment" == getAction) {
                    $('#Advertiser').addClass('active');
                }
            });


            $(document).ajaxStart(function (event, request, settings) {
                $('.main_loader').show();
            });

            $(document).ajaxComplete(function (event, request, settings) {

                $('.main_loader').hide();
            });
        </script>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
