﻿@model QoutGroceryAdminWithCore2.Models.LoginModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link href="~/css/skin-blue.min.css" rel="stylesheet" />

        <!-- iCheck -->
        <link href="~/css/AdminLTE.css" rel="stylesheet" />
      
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link href="~/css/skin-blue.min.css" rel="stylesheet" />

        <!-- iCheck -->
        <link href="~/css/AdminLTE.css" rel="stylesheet" />

    </environment>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="logo_div">
                <img src="~/images/logo.png" alt="" />
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12" style="padding:0;">
                    <div class="text-danger" id="dvMsg"><p>@TempData["Message"]</p></div>
                </div>
                <div class="form-group ">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control dis", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                  
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group ">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group align-content-md-center  has-feedback">

                    @{

                        if (TempData["notFound"] != null)
                        {
                            <label>
                                UserName or Password not matched!
                            </label>

                        }
                    }


                </div>
                <div class="row">
                    <div class="col-xs-8 text-left">
                        @*<a href="@(String.Concat(Common.GetBaseURL,"Account/ForgetPassword"))">I forget my password</a>*@
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-danger btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            }
            <br />
            @*<div class="row">
                    <div class="col-sm-6 text-left">
                        <a href="#">I forget my password</a>
                    </div>
                    <div class="col-sm-6 text-right">
                            <a href="~/Account/Register/">Register a new membership</a>
                        </div>
                </div>*@
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/misc.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/misc.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>

</html>
